/* BASE STYLES */
* {
    font-family: sans-serif;
    font-size: 20px
}
.navbar {
    width: 100vw;
    background-color: #59D9A1;
    padding-left: 30px;
    padding-right: 10px;
}
  
.logo {
    display: inline-block;
}
  
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}
  
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
  
.nav-item:hover {
    background-color: white;
}

.sidebar p:hover {
    background-color: white;
    color: #242457;
}
  
.nav-item:hover a {
    color: #59D9A1;
}
  
.logo img {
    width: 15%;
    vertical-align: middle;
}

.sidebar {
    background-color: #242457;
    color: white;
    padding: 3rem;
}


.flex-main {
    background-color: #F5F5F5;
    width: 100%;
    padding-right: 2.5rem;
    display: flex;
}

.image-container{
    height: 30vh;
    width: 20vw;
    background-color: #505FF9;
    margin: 2rem;
    color: #fff;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #66e0a7; /* assuming this is your footer bg */
    flex-wrap: wrap; /* in case screen is small */
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
}

footer img {
    width: 6.5%;

    object-fit: contain;
    margin-bottom: 0.25rem;
}


/* CODE YOUR FLEXBOXES HERE */
/* Flexbox for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 20%;
}

/* Make the main content area a flex-wrap grid */
.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-grow: 1; 
    justify-content: center;
}


